@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: #ffffff;
    margin: 0em;
    font-family: 'Open Sans', sans-serif;
}

/* Style related to the navbar */
/* Add a black background color to the top navigation bar */
.topnav {
    overflow: auto;
    background-color: #fafafa;
    border:solid;
    border-bottom-color: #3e508a;
    border-top-color: #fafafa;
    border-left-color: #fafafa;
    border-right-color: #fafafa;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #3e508a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.logo {
    float: left;
    margin: 0em;
    padding: 0em;
    top: 0em;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #3e508a;
color: white;
}

.topnav a.logo:hover {
    background-color: transparent;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    background-color: #eaeaea;
    float: right;
    padding: 15px;
    border: none;
    margin-right: 40px;
    font-size: 1em;
    max-height: 48px;
}
/* Style related to the navbar */

/* Style related to the background */
.background {
    overflow: auto;
    background-color: #fafafa;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#homebackground {
    background-image: url("../images/background/background.jpg");
}
/* Style related to the background */

/* Form realted css */
#form{
    font-family: 'Open Sans', sans-serif;
    margin: 5% 5%; 
    width:30em;
    padding:2em;
    background:#f9f9f9;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px 0px #00000030;
}

#form h1 {
    font-weight: bold;
    color: #e27d60;
    text-align: center;
}

#form label{
    margin: 0em 5em 0em 1em;
    list-style-type: none;
}

#form input{
    padding: 0em 1.25em;
    margin: 0 0 0 4em;
    border-radius: 5px;
}

#form input[type=submit]{
    padding: 0.25em 1.25em;
    margin: 0.75em 0em 0em 2em;
    border-radius: 5px;
}

#sidebar {
    position: absolute;
    left: 0;
    background-color: #fafafa;
    width: 15%;
    max-width: 200px;
    min-width: 125px;
    margin-top: 0;
    padding: 0.5em 0;
    height: 100%;
    background-color: #3e508a;
}

#sidebar ul{
    list-style-type: none;
}

#sidebar li{
    margin: 0.75em 0;
}

#sidebar span{
    text-emphasis: none;
    text-decoration: none;
    color: white;
}

#flex_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#card_body {
    margin-top: 75%;
    color: #fafafa;
    width: 90%;
}

#login_container {
    width: 50%;
    height: 40%;
    min-height: 15em;
    margin: 10% 25%;
    background-color: #efefef;
    border: solid;
    border-color: #3e508a;
    border-radius: 5px;
}

#login_form {
    text-align: center;
    padding-top: 5%;
}

#login_form input {
    margin: 1em 0;
}

#table img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

/* When the screen is less than 720px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 720px) {
    .topnav a.logo {
        float: none;
    }

    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        float: none;
        text-align: center;
        margin: 0em;
        padding: 2% 0em;
        width: 100%;
        border: 1px solid #ccc;
    }
    #form{
        margin: 1em 0em;
        width:100%;
        padding: 1% 2%;
        background:#f9f9f9;
        border-radius: 10px;
        border: none;
        box-shadow: 5px 5px 5px 0px #00000030;
    }
    #form h1 {
        font-weight: bold;
        color: #e27d60;
    }
    
    #form label{
        margin: 0em 10% 0em 1em;
        list-style-type: none;
    }
    
    #form input{
        margin: 0.75em 0em 0em 4em;
        border-radius: 5px;
    }

    #registerform, #signup-container {
        width:100%;
        padding: 1em;
        margin: 1em 0 0 0;
    }
}

@media screen and (max-width: 757px) {
    #house_thumb img {
        max-width: 80%;
    }
}